@model Core_Proje.EL.Concrete.Message

@{
    ViewData["Title"] = "ContactDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mesaj Detayları</h4>
            <form class="form-sample">
                @Html.HiddenFor(x => x.MessageID)
                <br />
                <div class="form-group">
                    <label>Başlık</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Mail</label>
                    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Mail, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Date, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    @Html.TextAreaFor(x => x.Content, 6, 3, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Content, null, new { @class = "text-danger" })
                </div>
                <br />
                <a asp-action="Index" class="btn btn-primary mr-2">İletişim Sayfası</a>
            </form>
        </div>
    </div>
</div>